{% extends 'base.html.twig' %}
{% block javascripts %}
    <script>
        const routeGetUser = "{{ path('getUserJson') }}";
        const routeChangeActive = "{{ path('changeActiveUser') }}";
    </script>
    {{ encore_entry_script_tags('js/listUser') }}
{% endblock %}
{% block main %}
<div class="container my-5">
    <div class="row">
        <div class="col-xl col-lg">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 fw-bold text-primary col-6">List users</h6> 
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive" >
                                <table id="listUser" class="table cell-border table-striped table-xl w-100">
                                    <thead >
                                        <tr>
                                            <th>Name</th>
                                            <th>Role</th>
                                            <th>Last time login</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>		
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}