* {
    font-family: 'Mulish', sans-serif;
}

.navbar {
    border-bottom: $primary 4px solid;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 25%);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.bg-pastel-cyan {
    background-color: rgba(46, 133, 213, 0.5);
}

.bg-pastel-blue {
    background-color: rgba(46, 83, 213, 0.5);
}

.bg-pastel-purple {
    background-color: rgba(79, 46, 213, 0.5);
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-container form{
    padding: 10%;
}

.login-form-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.login-form-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.profile {
    max-height: 40px;
}

.form-check-input:checked {
    background-color: #FFE600;
    border-color: #FFE600;
}

