{% extends 'base.html.twig' %}
{% block main %}
<div class="container mt-5">
	<h1 class="mb-5">Last Courses</h1>
	<div class="row justify-content-center mb-5">
		<div class="card shadow" style="max-width: 540px;">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="..." class="img-fluid rounded-start" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<div class="row">
							<span class="text-muted col-6">COMPUTER SCIENCE</span>
							<span class="text-muted col-4"><small>3 days ago</small></span>
							<a href="#" class="col-2" title="Starred">
								<span class="text-primary">
									<i class="fas fa-stared"></i>
								</span>
							</a>
						</div>
						<div class="row">
							<h5 class="card-title">Card title</h5>
						</div>
						<div class="row">
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						</div>
						<div class="row">
							<span class="author col-6">
							Adrien Colmart
							</span>
							<a href="" class="text-primary col-6">Read more
								<i class="fas fa-arrow"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center mb-5">
		<div class="card shadow" style="max-width: 540px;">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="..." class="img-fluid rounded-start" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<div class="row">
							<span class="text-muted col-6">COMPUTER SCIENCE</span>
							<span class="text-muted col-4"><small>3 days ago</small></span>
							<a href="#" class="col-2" title="Starred">
								<span class="text-primary">
									<i class="fas fa-stared"></i>
								</span>
							</a>
						</div>
						<div class="row">
							<h5 class="card-title">Card title</h5>
						</div>
						<div class="row">
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						</div>
						<div class="row">
							<span class="author col-6">
							Adrien Colmart
							</span>
							<a href="" class="text-primary col-6">Read more
								<i class="fas fa-arrow"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center mb-5">
		<div class="card shadow" style="max-width: 540px;">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="..." class="img-fluid rounded-start" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<div class="row">
							<span class="text-muted col-6">COMPUTER SCIENCE</span>
							<span class="text-muted col-4"><small>3 days ago</small></span>
							<a href="#" class="col-2" title="Starred">
								<span class="text-primary">
									<i class="fas fa-stared"></i>
								</span>
							</a>
						</div>
						<div class="row">
							<h5 class="card-title">Card title</h5>
						</div>
						<div class="row">
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						</div>
						<div class="row">
							<span class="author col-6">
							Adrien Colmart
							</span>
							<a href="" class="text-primary col-6">Read more
								<i class="fas fa-arrow"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center mb-5">
		<div class="card shadow" style="max-width: 540px;">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="..." class="img-fluid rounded-start" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<div class="row">
							<span class="text-muted col-6">COMPUTER SCIENCE</span>
							<span class="text-muted col-4"><small>3 days ago</small></span>
							<a href="#" class="col-2" title="Starred">
								<span class="text-primary">
									<i class="fas fa-stared"></i>
								</span>
							</a>
						</div>
						<div class="row">
							<h5 class="card-title">Card title</h5>
						</div>
						<div class="row">
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						</div>
						<div class="row">
							<span class="author col-6">
							Adrien Colmart
							</span>
							<a href="" class="text-primary col-6">Read more
								<i class="fas fa-arrow"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}