{% extends 'base.html.twig' %}
{% block main %}
<section class="my-5 p-5 text-center container-fluid bg-white" id="section1">
	<div class="row align-items-center justify-content-center">
		<div class="col-xl-3 col-lg-4 mb-5 mb-md-0">
			<lottie-player src="{{ asset('build/lottieFiles/lf30_editor_34pndhno.json') }}" background="transparent" speed="1" style="width:100%; height: 100%; max-width: 400px; margin: 0 auto;" loop autoplay></lottie-player>
		</div>
		<div class="col-xl-9 col-lg-8">
			<h1 class="fw-light mb-2">Lorem Ipsum</h1>
			<p class="lead text-muted px-5 text-center text-md-start">
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni maiores aspernatur eum, soluta obcaecati amet nesciunt ipsum! Harum quibusdam commodi provident minima quaerat, perferendis, at iste sapiente repellat rerum dolor?
										Eum excepturi, amet dolores dolore ad officia quisquam dicta culpa autem doloremque. Maiores vero eius, totam saepe sequi animi deserunt asperiores aliquid tenetur? Cupiditate quod illo a at laudantium vel.
			</p>
			<a class="btn btn-primary" href="{{ path('app_register') }}" style="cursor: pointer;">
				<span class="text text-white">Get Started</span>
			</a>
		</div>
	</div>
</section>
<section class="my-5 p-5 text-center container-fluid bg-white" id="section2">
	<h1 class="fw-light mb-5">The best way to learn</h1>
	<div class="row align-items-center justify-content-center">
		<div class="col-lg-4 px-5 mb-md-0 mb-5">
			<div class="card shadow">
				<div class="card-body">
					<div class="card-title">Enhanced teaching</div>
					<div class="card-text text-start">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos quisquam sunt natus, sed vero voluptatem aut tempora, recusandae quae quo ab mollitia aliquid iure vitae in accusamus eaque corrupti consequatur?</div>
				</div>
				<div class="card-footer bg-pastel-cyan">
					Enhanced teaching
				</div>
			</div>
		</div>
		<div class="col-lg-4 px-5 mb-md-0 mb-5">
			<div class="card shadow">
				<div class="card-body">
					<div class="card-title">Variety of course</div>
					<div class="card-text text-start">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos quisquam sunt natus, sed vero voluptatem aut tempora, recusandae quae quo ab mollitia aliquid iure vitae in accusamus eaque corrupti consequatur?</div>
				</div>
				<div class="card-footer bg-pastel-blue">
					Variety of course
				</div>
			</div>
		</div>
		<div class="col-lg-4 px-5 mb-md-0 mb-5">
			<div class="card shadow">
				<div class="card-body">
					<div class="card-title">Best learning path</div>
					<div class="card-text text-start">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos quisquam sunt natus, sed vero voluptatem aut tempora, recusandae quae quo ab mollitia aliquid iure vitae in accusamus eaque corrupti consequatur?</div>
				</div>
				<div class="card-footer bg-pastel-purple">
					Best learning path
				</div>
			</div>
		</div>
	</div>
</section>
<section class="my-5 p-5 text-center container-fluid bg-white" id="section1">
	<div class="row align-items-center justify-content-center">
		<div class="col-xl-9 col-lg-8">
			<h1 class="fw-light mb-2">Lorem Ipsum</h1>
			<p class="lead text-muted px-5 text-center text-md-start">
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni maiores aspernatur eum, soluta obcaecati amet nesciunt ipsum! Harum quibusdam commodi provident minima quaerat, perferendis, at iste sapiente repellat rerum dolor?
										Eum excepturi, amet dolores dolore ad officia quisquam dicta culpa autem doloremque. Maiores vero eius, totam saepe sequi animi deserunt asperiores aliquid tenetur? Cupiditate quod illo a at laudantium vel.
			</p>
		</div>
		<div class="col-xl-3 col-lg-4 mb-5 mb-md-0">
			<lottie-player src="{{ asset('build/lottieFiles/lf30_editor_ea3kdsma.json') }}" background="transparent" speed="1" style="width:100%; height: 100%; max-width: 400px; margin: 0 auto;" loop autoplay></lottie-player>
		</div>
	</div>
</section>
{% endblock %}