{% extends 'base.html.twig' %}
{% block main %}
<section class="my-5 p-5 text-center container-fluid bg-white" id="section1">
	<div class="row align-items-center justify-content-center">
		<div class="col-xl-3 col-lg-4 mb-5 mb-md-0">
			<lottie-player src="{{ asset('build/lottieFiles/lf30_editor_34pndhno.json') }}" background="transparent" speed="1" style="width:100%; height: 100%; max-width: 400px; margin: 0 auto;" loop autoplay></lottie-player>
		</div>
		<div class="col-xl-9 col-lg-8">
			<h1 class="fw-light mb-2">Welcome to Manabi!</h1>
			<p class="lead text-muted px-5 text-center text-md-start">
				Learn for free about math, art, computer programming, economics, physics, chemistry, biology, medicine, finance, history, and more...
			</p>
			<a class="btn btn-primary" href="{{ path('app_register') }}" style="cursor: pointer;">
				<span class="text text-white">Get Started</span>
			</a>
		</div>
	</div>
</section>
<section class="my-5 p-5 text-center container-fluid bg-white" id="section2">
	<h1 class="fw-light mb-5">The best way to learn</h1>
	<div class="row align-items-center justify-content-center">
		<div class="col-lg-4 px-5 mb-md-0 mb-5">
			<div class="card shadow">
				<div class="card-body">
					<div class="card-title display-6">Enhanced teaching</div>
					<div class="card-text text-justify">You always wanted to start to learn a new language but never find the occasion ? Give it a try now with Manabi! Our application provide a convenient way to learn in various fields.</div>
				</div>
				<div class="card-footer bg-pastel-cyan">
					Enhanced teaching
				</div>
			</div>
		</div>
		<div class="col-lg-4 px-5 mb-md-0 mb-5">
			<div class="card shadow">
				<div class="card-body">
					<div class="card-title display-6">Variety of course</div>
					<div class="card-text text-justify">Thanks to a variety of teacher our site possess several courses in multiple fields. That's why we can guarantee you'll find courses that interest you.</div>
				</div>
				<div class="card-footer bg-pastel-blue">
					Variety of course
				</div>
			</div>
		</div>
		<div class="col-lg-4 px-5 mb-md-0 mb-5">
			<div class="card shadow">
				<div class="card-body">
					<div class="card-title display-6">Best learning path</div>
					<div class="card-text text-justify">We truly believe that our solutions is currently you best way to enhanced your knowledge and complete your goals.</div>
				</div>
				<div class="card-footer bg-pastel-purple">
					Best learning path
				</div>
			</div>
		</div>
	</div>
</section>
<section class="my-5 p-5 text-center container-fluid bg-white" id="section3">
	<div class="row align-items-center justify-content-center">
		<div class="col-xl-9 col-lg-8">
			<h1 class="fw-light mb-2">Educational support</h1>
			<p class="lead text-muted px-5 text-center text-md-start">
				As a student your main goal is surely of being successfull at school. To do this Manabi can provide you really helpfull courses which will complete what you see at school
			</p>
		</div>
		<div class="col-xl-3 col-lg-4 mb-5 mb-md-0">
			<lottie-player src="{{ asset('build/lottieFiles/lf30_editor_ea3kdsma.json') }}" background="transparent" speed="1" style="width:100%; height: 100%; max-width: 400px; margin: 0 auto;" loop autoplay></lottie-player>
		</div>
	</div>
</section>
{% endblock %}